*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

table ,th,td {
    border:1px solid black;
    border-collapse:collapse;
}
 td,th{
     padding:10px;
    
    
}
table{
    margin:auto;
    margin-top:100px;
    width:50%;
    border-spacing:5px;
}
th{
    text-align:left;
    background:#51612b;
    color:white;
}

table tr:nth-child(odd){
    background:#1ed565;
}
table tr:last-child{
    background:grey;
}

