*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


ul{
    list-style-type: none;
    display:flex;
}
li {
    display:block;
}

 a{
    padding:14px 16px;
    background:red;
    text-decoration:none;
}